body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

body a {
  text-decoration: none;
  color: yellow;
}

.contact:hover {
  zoom: 1.5;
  transition: 0.2s;
}

footer {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.byuh {
  width: 250px;
  height: 150px;
}

.byuh img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid #3a1078;
}
