* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/*Header*/
header {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-1 {
  width: 100%;
  height: 100%;
}

/*Header-top*/
.header-top {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.htop-logo {
  font-size: 8vh;
  /* background-color: yellow; */
  font-weight: 600;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 5%;
  font-family: "Poppins", sans-serif;
}

.htop-logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.htop-logo a:hover {
  color: rgb(223, 213, 20);

  transition: 0.2s;
}

/*Header-bottom*/
.header-bottom {
  width: 100%;
  height: 85%;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/*header bottom LEFT*/
.hbot-left {
  width: 20%;
  height: 90%;
  /* background-color: rgb(0, 0, 0); */
  margin: 0 5%;
  /* border: 1px solid black; */
  /* background-image: url(image/p.webp); */
  background-color: rgb(0, 0, 0, 0.9);
  border: 3px solid rgb(255, 255, 255, 0.6);
}

.hbot-left-top {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgb(255, 255, 255, 0.6);
  /* overflow: hidden; */
  /* background-color: yellow; */
}

.profil {
  width: 60%;
  height: 80%;
  /* background-color: blue; */
}

.profil a img {
  width: 100%;
  height: 100%;
  /* border-radius: 900px; */
  object-fit: contain;
}

.hbot-left-bottom {
  width: 100%;
  height: 60%;
  /* background-color: rgb(0, 0, 0); */
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  width: 90%;
  height: 90%;
  /* background-color: blue; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  overflow: hidden;
  /* font-size: 14px; */
  /* border: 1px solid red; */
}

.data a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.3vh; /*Im sorrry :(*/
  margin: 5% 0;
  /* border: 1px solid yellow; */
}

.data a:hover {
  color: goldenrod;
  transition: 0.2s;
}

/*hbot rightttt*/
.hbot-right {
  width: 60%;
  height: 90%;
  /* background-color: rgb(133, 133, 133, 0.1); */
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 90%;
  height: 90%;
  /* background-color: blueviolet; */
  font-family: "Poppins", sans-serif;
  display: flex;
  color: white;
  align-items: center;
  font-size: 4.5vh;
  font-weight: 700;
}

.intro .span1 {
  background-color: rgb(190, 60, 13);
  padding: 0.3% 1%;
}

.intro .span2 {
  background-color: rgb(6, 29, 200);
  padding: 0.3% 1%;
}

.intro .span3:hover {
  background-color: rgb(35, 155, 5);
  transition: 0.2s;
}

/*main*/
main {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
}

nav .nav-top {
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
}

.nav-top .about {
  width: 50%;
  /* height: 50%; */
  border: 1px solid rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 5% 0;
  font-size: 4.5vh;
}

.nav-top .about:hover {
  background-color: rgb(37, 37, 37);
  transition: 0.2s;
}

.nav-top .projects {
  width: 50%;
  /* height: 50%; */
  border: 1px solid rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 5% 0;
  font-size: 4.5vh;
}

.nav-top .projects:hover {
  background-color: rgb(37, 37, 37);
  transition: 0.2s;
}

nav .nav-bot {
  display: flex;
}

.nav-bot .resume {
  width: 50%;
  /* height: 50%; */
  border: 1px solid rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 5% 0;
  font-size: 4.5vh;
}

.nav-bot .resume:hover {
  background-color: rgb(37, 37, 37);
  transition: 0.2s;
}

.nav-bot .contact {
  width: 50%;
  /* height: 50%; */
  border: 1px solid rgb(255, 255, 255, 0.5);
  text-align: center;
  padding: 5% 0;
  font-size: 4.5vh;
}

.nav-bot .contact:hover {
  background-color: rgb(37, 37, 37);
  transition: 0.2s;
}
